/*
Error: Invalid US-ASCII character "\xEE"
        on line 58 of fontello.scss

53: 
54:   /* Uncomment for 3D effect *\/
55:   /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); *\/
56: }
57: 
58: .icon-mobile:before { content: '\e800'; } /* '' *\/
59: .icon-bookmark:before { content: '\e801'; } /* '' *\/
60: .icon-location-outline:before { content: '\e802'; } /* '' *\/
61: .icon-headphones:before { content: '\e803'; } /* '' *\/
62: .icon-link:before { content: '\f07b'; } /* '' *\/
63: .icon-github-circled:before { content: '\f09b'; } /* '' *\/

Backtrace:
fontello.scss:58
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/util.rb:1043:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/util.rb:1040:in `block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/util.rb:1039:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/util.rb:1039:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/util.rb:1039:in `find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/util.rb:767:in `check_sass_encoding'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:444:in `check_encoding!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:400:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.5/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:22:in `load'
/usr/local/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xEE\"\A         on line 58 of fontello.scss\A \A 53: \A 54:   /* Uncomment for 3D effect */\A 55:   /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */\A 56: }\A 57: \A 58: .icon-mobile:before { content: '\e800'; } /* '' */\A 59: .icon-bookmark:before { content: '\e801'; } /* '' */\A 60: .icon-location-outline:before { content: '\e802'; } /* '' */\A 61: .icon-headphones:before { content: '\e803'; } /* '' */\A 62: .icon-link:before { content: '\f07b'; } /* '' */\A 63: .icon-github-circled:before { content: '\f09b'; } /* '' */"; }
